<!DOCTYPE html>
<html>
<head>
    <title>TO-DO-LIST</title>
    <style>
        body {
            /*화면 가운데 정렬*/
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        ul {
            text-align: left;  /*리스트 왼쪽 정렬*/
        }
    </style>
</head>
<body>
    <div>
        <h1>TO-DO-LIST</h1>
        
        <!-- 현재 날짜 표시 -->
        <p id="currentDate"></p>
        <ul>
            {% for task in tasks %}
            <li id="{{ task.id }}">
                <!--체크박스: checked 속성으로 수행여부 표시-->
                <input type="checkbox" name="task" id="checkbox_{{ task.id }}" {% if task.completed %} checked {% endif %}>
                <label for="checkbox_{{ task.id }}">{{ task.title }}</label>
                <!-- 할일 삭제 버튼 -->
                <button onclick="deleteTask('{{ task.id }}')">삭제</button>
            </li>
            {% endfor %}
        </ul>
        <!--할일 추가-->
        <form action="{% url 'add_task' %}" method="post">
            {% csrf_token %}
            <input type="text" name="title">   <!--입력상자-->>
            <button type="submit">Add Task</button>
        </form>
    </div>

    <script>
        // 현재 날짜를 가져와서 HTML에 추가
        var currentDateElement = document.getElementById('currentDate');
        var currentDate = new Date();
        var year = currentDate.getFullYear();
        var month = currentDate.getMonth() + 1;
        var day = currentDate.getDate();
        currentDateElement.textContent = '오늘 날짜: ' + year + '년 ' + month + '월 ' + day + '일';

        // 할 일 삭제 함수
        function deleteTask(taskId) {
            fetch('/delete/' + taskId, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json', 
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(response => {
                if (response.ok) {
                    document.getElementById(taskId).remove(); // 삭제된 항목을 화면에서도 제거
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>
</body>
</html>
